.container-fluid
  .span-12
    .span-8
      %h1 Pages#home
      %p Find me in app/views/pages/home.html.haml
      = link_to "Home", "#", class: "btn btn-primary btn-sm", style: "margin-left:25px;", type: "button"